.game__container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
    margin: 25px;
    justify-content: center;
    perspective: 500px;
}
.card{
    position: relative;
    width: 115px;
    height: 140px;
    transform-style: preserve-3d;
    cursor: pointer;
    padding: 2px;

    &__side{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7%;
        width: 100%;
        height: 100%;
        transition: transform 550ms ease-in-out;
        backface-visibility: hidden;

        &--front{
            background-color: #200589;
            border: 1.7px solid #f500ff;
            // transform: scale(1);
            // transition: .2s ease-in-out;
        }

        &--back{
            background-color:#da00ff;
            border: 1.5px solid black;
            transform: rotateY(180deg);
        }
    }

    &__img{
        width: 100px;
        height: 100px;
    }
}

.card:hover {

    .card__side--front{
        transform: rotateY(-180deg);
    }

    .card__side--back{
        transform: rotateY(0);
    }
}