.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #f500ff;
    font-family: $font-family, serif;

    &__btn{
        font-size: 2rem;
        cursor: pointer;
    }
}

.overlay-text--visible{
    display: flex;
    animation: overlay-grow .5s forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 4.2rem;
    }
}
