.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: $font-color;
    font-family: $font-family, serif;

    &__btn{
        font-size: 1.7rem;
        cursor: pointer;
        margin-top: 10px;
    }
}

.overlay-text--visible{
    display: flex;
    animation: overlay-grow .5s forwards;
}

.score-list{
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
    width: 400px;
    height: 600px;
    list-style: none;
    background-color: $background-color;
    padding: 0;
    &__item{
        height: 10%;
        font-size: 35px;
        text-align: center;
        margin-top: 10px;
        &--podium{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 30%;
        margin-top: 0;
        background-color: #001eff;
        border-bottom: 2px solid #da00ff;
        }
    }
    &__place{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        height: 80%;
        flex-grow: 1;
        font-size: 25px;
        &--first{
            align-self: flex-start;
            margin: 5px 0 0 0;
        }
    }
    &__nick{
        margin-top: 10px;
    }
}

.img__place{
    width: 90px;
    height: 100px;
}

.back-to-game-btn{
    cursor: pointer;
    font-size: 60px;
}



@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 4.4rem;
    }
}
